<!DOCTYPE html>
<html lang="en" ng-app="datahereApp">

<head>
  <title>Data Here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css">

  <style>

    body {
      padding-top: 60px;
    }
    /*html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}*/

    .angular-google-map-container { height: 200px}

    #searchboxParent{
      width:100%;
      text-align:center;
    }
    #autocomplete {
      width: 70%;
    }

    .gm-style img { max-width: none; }
    .gm-style label { width: auto; display: inline; }

    .navbar .brand {
      padding-top: 9px;
      padding-left:18px;
    }
    .pull-center {
      text-align:center;
    }
    h1 {
      color: #ececec;
      font-size:30px;
      padding-top:30px;
      padding-bottom:30px;
      text-shadow: 2px 2px 8px #515151;
    }

    h1 a {
      color: #ececec;
    }

    .section {
      height:200px;
      width:100%;
    }

  </style>
</head>

<body ng-controller="DataHereCtrl">
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a href="http://datahere.gordcorp.com/" class="brand" title="Data here">Data Here</a>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="section" style="background-image:url('/img/fibre.jpg');background-size:cover;">
      <div class="row">
        <h1 class="pull-center">Search <a href="http://data.gov.au/">data.gov.au</a> by address</h1>
        <div id="searchboxParent">
          <script type="text/ng-template" id="searchbox.tpl.html">
            <input id="autocomplete" type="text" ng-model="address" placeholder="Search for your address" required />
          </script>
        </div>
        <div class="row pull-center" style="color:#ececec; text-shadow: 2px 2px 8px #000000;">
          <div class="col-xs-12">
            <input type="radio" ng-model="selectedSources" value="all" ng-change='onSelectedSourcesChange(value)'> Search <b>ALL</b> datasets</input>
          </div>
          <div class="col-xs-12">
            <input type="radio" ng-model="selectedSources" value="recommended" ng-change='onSelectedSourcesChange(value)'> Search recommended datasets (faster)</input>
          </div>
        </div>
      </div>
    </section>

    <div class="row" style="padding-top:20px">
      <div class="span12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" draggable="true">
          <ui-gmap-search-box
            template="searchbox.template"
            events="searchbox.events"
            parentdiv="searchbox.parentdiv">
          </ui-gmap-search-box>
          <ui-gmap-marker
            coords="marker.coords"
            options="marker.options"
            events="marker.events"
            idkey="marker.id">
          </ui-gmap-google-map>
      </div>
    </div>
    <pre id='preview' style='display:none'></pre>
    <div ng-show="search.id > 0"><img ng-show="search.sources == undefined" alt="activity indicator" src="img/ajax-loader.gif" />
      Searching <span ng-show="selectedSources == 'all'"><a href="http://data.gov.au/dataset?res_format=wms">all<span ng-show="search.sources"> ({{search.sources.length}})</span> datasets</a></span> at {{search.address}}:</div>
    <div ng-repeat="source in search.sources | orderBy:'state'">
      <div class="row span12">
        <span ng-if="source.state == 1"
              class="glyphicon glyphicon-ok"></span>
        <img ng-if="source.state == 2"
              alt="activity indicator" src="img/ajax-loader.gif" />
        <span ng-if="source.state == 3"
              class="glyphicon glyphicon-remove"></span>
        <span ng-if="source.state == 4"
              class="glyphicon glyphicon-warning-sign"></span>
        <a href="http://data.gov.au/dataset/{{source.dataset}}" target="_blank">{{source.name}}</a></strong>
        <a ng-if="source.state == 1" style="margin-left:30px"
          data-toggle="collapse"
          href="#resultTable{{ $index + 1 }}"
          aria-expanded="false"
          aria-controls="collapseExample{{ $index + 1 }}">
            Expand
        </a>

        <div class="collapse" id="resultTable{{ $index + 1 }}" >
          <table ng-repeat="feature in source.results" class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in feature.properties">
                <th scope="row" class="dataset-label">{{key}}</th>
                <td class="dataset-details" property="dc:type">{{value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="bower_components/ngprogress/build/ngProgress.min.js"></script>
  <script src="js/controller.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54500812-2', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
